<link rel="stylesheet" href="/css/dashboard.css">

<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">


    <div class="sondertitle2 nav-item active pb-3 mx-2" onclick="location.href='/'"></div>


    {{!-- <div class="dashboardtitle2 nav-item active text-center mx-4">Dashboard</div> --}}

    <div class="passportinfo" style="display: flex; justify-content: flex-right">
      <div class="nav-item active user-info mx-2" id="user-info">
      </div>

      <button type="button" class="btn btn-outline-danger btn-sm m-2 logoutbtn mx-2 mt-4">Log Out</button>
    </div>
  </div>
</nav>

<div class="container dashbody">
  <div class="buttonspersonal">
    <button class="joinTrip jg">Join Trip</button>
  </div>

  <div class="container">
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <div class="container groupdivs text-center">
        <p class="p1 font"> Your Current Trips</p>
        <p class="p2 font"> Click on the Trip to continue with selection process</p>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
</div>




<script src="/js/dashboard.js"></script>