<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"
></script>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:400,300,100"
  rel="stylesheet"
  type="text/css"
/>

<link rel="stylesheet" href="/css/home.css" />


 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vacation Packages</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="./assets/css/style.css" />
</head>

<body>
  <!-- Navbar -->
  <header class="hero has-background-warning-light is-medium top-header">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item title site-name"> Vacation Packages </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <span class="navbar-item">
                <a href="./view/home.handlebars#about" class="button is-success is-inverted"> About Us </a>
                </span>
                <span class="navbar-item">
                  <a href="/trips" class="button is-success is-inverted" class= "hide"> Trips </a>
                </span>
                <span class="navbar-item">
                    <a href="./view/home.handlebars#search" class="button is-success is-inverted"> Signup/Login </a>
                </span>
                <span class="navbar-item">
                    <a href="/logout" class="button is-success is-inverted"> Logout </a>
                </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>


<section id='about' class="is-flex is-flex-direction-column "> 
    <h2 class="title is-3 section-title">Need a vacation?</h2>
    <p> Are you tired of the grind? Do you think you need time off? Do you make 
      too many decisions in life? Well, don't go too far becuase we have the solution for you!
      Welcome to the Vacation Packages chooser. We will offer you just 3 of the best
      places to vacation on earth and all you need to do is pick your favorite!
    </p>
  </section>

<header>
  <span> .</span>
</header>

<form id="login-form" "is-flex is-flex-direction-column account">
  <h2 class="title is-3 section-title">Login</h2>
  <input type="text" placeholder="username" name="username" />
  <input type="password" placeholder="password" name="password" />
  <button type="submit">go</button>
</form>

<br>

<form id="signup-form" "is-flex is-flex-direction-column account">
  <h2 class="title is-3 section-title">Sign Up</h2>
  <input type="text" placeholder="username" name="username" />
  <input type="text" placeholder="email" name="email" />
  <input type="password" placeholder="password" name="password" />
  <button type="submit">go</button>
</form>

<div class="entry">
  {{#if loggedIn}}
    <h1>{{user}} is logged in!</h1>
  {{else}}
    <h1></h1>
  {{/if}}
</div>

<script src="/js/auth.js"></script>

