<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"
></script>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:400,300,100"
  rel="stylesheet"
  type="text/css"
/>

<link rel="stylesheet" href="/css/home.css" />
{{!-- 
 --}}

 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hygge</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="./assets/css/style.css" />
</head>

<body>
  <!-- Navbar -->
  <header class="hero is-success is-medium top-header">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item title site-name"> Hygge </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <span class="navbar-item">
                <a href="./index.html#about" class="button is-success is-inverted"> About Us </a>
                </span>
                <span class="navbar-item">
                  <a href="./index.html#trips" class="button is-success is-inverted" class= "hide"> Trips </a>
                </span>
                <span class="navbar-item">
                    <a href="./index.html#search" class="button is-success is-inverted"> Signup/Login </a>
                  </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>


<section id='about' class="is-flex is-flex-direction-column "> 
    <h2 class="title is-3 section-title">About Us</h2>
    <p> Hygge (hyoo-guh) is a Danish word for creating a warm atmosphere and enjoying the good things in life with good people.
       That is what we are all about. Our team does all the research and booking so you can have the trip you've been dreaming of 
       without any of the stress of planning or worry of traveing alone. Signup with us and you can join our trips with a press of 
       a button! Your vacation, worry free. 
    </p>
  </section>

<header>
  <a href="/logout"><button>LOGOUT</button></a>
</header>

<form id="login-form" "is-flex is-flex-direction-column account">
  <h2 class="title is-3 section-title">Login</h2>
  <input type="text" placeholder="username" name="username" />
  <input type="password" placeholder="password" name="password" />
  <button type="submit">go</button>
</form>

<br>

<form id="signup-form" "is-flex is-flex-direction-column account">
  <h2 class="title is-3 section-title">Sign Up</h2>
  <input type="text" placeholder="username" name="username" />
  <input type="text" placeholder="email" name="email" />
  <input type="password" placeholder="password" name="password" />
  <button type="submit">go</button>
</form>

<div class="entry">
  {{#if loggedIn}}
    <h1>{{user}} is logged in!</h1>
  {{else}}
    <h1>no one logged in</h1>
  {{/if}}
</div>

<script src="/js/auth.js"></script>

{{! <div class="bg">
  <div class="row">
    <div class="col-12">
    </div>
    <div class="col">

      <h1 class="sondertitle">Vacation Packages</h1>

    </div>
  </div>
</div>

<div class="logincontainer">
  <div class="backbox">
    <div class="loginMsg">
      <div class="textcontent">
        <p class="title">Not a member?</p>
        <p>Sign up to get started!</p>
        <button id="switch1">Sign Up</button>
      </div>
    </div>
    <div class="signupMsg visibility">
      <div class="textcontent">
        <p class="title">Already a member?</p>
        <p>Log in to join a trip!</p>
        <button id="switch2">LOG IN</button>
      </div>
    </div>
  </div>

  <div class="frontbox">
    <div class="login">
      <h2>LOG IN</h2>
      <div class="inputbox">
        <form id="login-form" class="needs-validation" notvalid>
          <div class="form-group">
            <input type="text" class="form-control" id="email-input1" placeholder="  EMAIL" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password-input1" placeholder="  PASSWORD" required>
            <div id="alert"></div>
          </div>
          <div class="form-group loginbutton">
            <button class="btn btn-primary" id="logInBtn">LOG IN</button>
          </div>
        </form>
        <div class="works"></div>
        <div id="alert"></div>
      </div>
    </div>


  <div class="signup hide">
      <h2>SIGN UP</h2>
      <div class="inputbox my-0 py-0">
        <form id="signup-form my-0 py-0">
          <div class="form-group my-1 py-1">
            <input type="text" class="form-control my-0 py-0" id="user-name-input" placeholder="  USER NAME" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control mb-1" id="first-name-input" placeholder="  FIRST NAME" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control m-1" id="last-name-input" placeholder="  LAST NAME" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control m-1" id="email-input" placeholder="  EMAIL ADDRESS" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control m-1" id="password-input" placeholder="  PASSWORD" required>
          </div>
          <div class="form-group">
            <button type="submit" id="signUp" class="btn btn-primary">SIGN UP</button>
          </div>
        </form> 


      </div>

    </div>
  </div>




  </br>


</div> }}